<button class="btn btn-primary" type="button" *ngIf="users">
   <i class="fa fa-calendar" aria-hidden="true"></i> Người dùng  
   <span class="badge">{{this.totalItems}}</span>
</button>
<hr/>

    <button class="btn btn-primary btn-sm" (click)="viewAddUser()">
    <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>Tạo tài khoản</button>
<div [@flyInOut]="'in'">
    <table class="table table-hover">
        <thead>
            <tr>
               
                <th>Username</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usr of users">
                <td> {{usr.Username}}</td>
                <td>{{usr.Fullname}}</td>
                <td>{{usr.Email}}</td>
                <td>{{usr.Phone}}</td>
                <td><a class="btn btn-warning" (click)="viewUserDetails(usr)"><i class="fa fa-pencil-square-o" ></i>Cập nhật</a>
                <a class="btn btn-danger" (click)="deleteUser(usr)"><i class="fa fa-pencil-square-o" ></i>Xóa</a>
                </td>
        

            </tr>
        </tbody>
    </table>

    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
</div>

<div bsModal #childModal="bs-modal" class="modal fade popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" *ngIf="selectedUserLoaded">
        <div class="modal-content" style="background-color:darkcyan;">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                <h4 *ngIf="!this.addingUser"> Cập nhật tài khoản: {{selectedUser.Username}}</h4>
                <h4 *ngIf="this.addingUser"> Thêm tài khoản</h4>
            </div>
            <div class="modal-body">
                <form method="post" #viewUserForm="ngForm" *ngIf="selectedUserLoaded" novalidate>
                                            
                <!--Validate-->
                    <div class="alert alert-danger" [hidden]="viewUserForm.form.valid">
                        <ul *ngIf="EMAILInput.dirty && !EMAILInput.valid">
                            <li *ngIf="EMAILInput.errors.required">Email không được bỏ trống</li>
                            <li *ngIf="EMAILInput.errors.pattern">Email không hợp lệ</li>
                            
                        </ul>
                        <ul *ngIf="PHONEInput.dirty && !PHONEInput.valid">
                            <li *ngIf="PHONEInput.errors.pattern">Số điện thoại phải từ 5-20</li>
                            </ul>
                    </div>
             <!--End Validate-->
             <div class="form-group">
                <label >Username:</label>
                <input type="text" class="form-control" [disabled] = "!this.addingUser" [(ngModel)]="selectedUser.Username" name="USERNAME" #USERNAMEInput="ngModel" required pattern=".{5,20}"/>
            </div>
            <div class="form-group">
                <label >Mật khẩu:</label>
                <input type="password" class="form-control" [disabled] = "!this.addingUser" [(ngModel)]="selectedUser.Password" name="PASSWORD" #PASSWORDInput="ngModel" required pattern=".{5,20}"/>
            </div>
            <div class="form-group">
                <label >Họ tên:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedUser.Fullname" name="FULLNAME" #FULLNAMEInput="ngModel" required pattern=".{5,20}"/>
            </div>
             <div class="form-group">
                <label >Email:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedUser.Email" name="EMAIL" #EMAILInput="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
            </div>
            <div class="form-group">
                <label >Điện thoại:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedUser.Phone" name="PHONE" #PHONEInput="ngModel" required pattern=".{5,20}"/>
                <!--<textarea type="text" class="form-control" readonly>{{selectedMessage.Content}}</textarea>-->
            </div>
            <div class="form-group" *ngIf="this.addingUser">
                <label >Domain:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedUser.Domain" name="DOMAIN" #DOMAINInput="ngModel" required pattern=".{5,20}"/>
     
            </div>
            <div class="form-group" *ngIf="this.addingUser">
                <label >Mô tả:</label>
                <input type="text" class="form-control" [(ngModel)]="selectedUser.DomainDesc" name="DOMAINDESC" #DOMAINDESCInput="ngModel" required pattern=".{5,20}"/>
     
            </div>
                    <hr/>          
                    <button [class.hidden]="this.addingUser" [disabled]="!viewUserForm.form.valid" (click)="editUser(selectedUser)" type="button" class="btn btn-warning">Cập nhật</button>
                    <button [class.hidden]="!this.addingUser" [disabled]="!viewUserForm.form.valid" (click)="addUser(selectedUser)" type="button" class="btn btn-success">Thêm</button>

                </form>
            </div>
        </div>
    </div>
</div>